@charset "UTF-8";
.banner {
  background-color: black;
  overflow: hidden;
  display: none;
}

#btnExit {
  cursor: pointer;
  opacity: 0
}

.bannerSize {
  width: 300px;
  height: 250px;
  position: relative;
}

.bannerSize img {
  border: none;
}

.hide {
  opacity:0;
}

.retina{
  background-size:cover !important;
}

.aC{
  right:0;
  left:0;
  margin:0 auto;
}

* {
    font-family: sans-serif;
    font-size: 16px;
}


/*Loading images into elements*/
.background-position {
  background: url('background.jpg');
  height: 250px;
  width: 300px;
}